.bloghome-wrapper {
  display: flex;
  justify-content: center;

  .center-blog-wrapper{
    height: 85vh;
    width: 80vw;
    background-color: rgb(206, 210, 214);
  }

  .right-column-blog-wrapper{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    padding: 15px;
    background-color: rgb(117, 118, 119);
  }
}
