.bloghome-wrapper {
  position: relative;
  top: 55px;
  display: flex;
  height: calc(100vh - 55px);

  .center-blog-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;


    h1 {
      position: absolute;
      left: 43vw;
      top: 10vh;
      color: whitesmoke;
      font-size: 85px;
      font-family: 'Fira Sans', sans-serif;
      transition: .5s ease-in;
      animation: header 1s;
    }

    .image-wrapper {
      display: flex;
      margin-left: 10vw;


      img {
        height: 75vh;
        width: 80vw;
      }
    }
  }
}


.right-column-blog-wrapper{
  display: flex;
  flex-direction: column;
  position:fixed;
  right: 0;
  background-color: rgba(117, 118, 119, .7);
  transition: 3s ease-in;
  animation: fadeIn 3.5s;
}