.home-content-wrapper {
  height: 100vh;
  background-image: url("../../static/assets/images/home.jpg");
  background-size: cover;
  background-position: center;

  .login-form-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .signup-form-wrapper {
      border: 1px solid rgba(122, 65, 122, 0.3);
      background: rgba(228, 225, 231, 0.9);
      border-radius: 5px;
      margin-top: 30vh;
      padding: 7px;
      color: rgba(78, 38, 104, 0.5);
      text-shadow: rgb(146, 141, 146) .5px .5px;

      .form-heading {
        margin: 5px;
        color: rgba(213, 211, 214, 0.6);
        text-shadow: rgb(122, 114, 122) 1px 1px;
      }

      
      form {
        display: grid;
        height: 32vh;
        width: 18vw;
        padding: 5px;

        .label-wrapper {
          display: flex;
          align-items: center;
        }

        label {
          margin-left: 3px;
        }

        input {
          height: 20px;
          border: .5px solid rgb(180, 176, 169);
          background-color: rgba(240, 236, 236, .7);
        }

        button {
          height: 30px;
          margin-top: 5px;
          color: rgb(140, 138, 141);
          font-size: 15px;
        }
      }
    }

    .sign-in-form-wrapper {
      background: rgba(242, 230, 253, 0.9);
      margin: 10px;
      margin-top: 30vh;
      border: 1px solid rgba(163, 150, 163, 0.1);
      border-radius: 5px;
      padding: 10px;

      &:hover {
        background-color: rgba(242, 230, 253, 0.4);
      }
      
      form {
        display: grid;
        margin-top: 5vh;
        height: 25vh;
        width: 18vw;
        padding: 5px;


        button {
          margin-top: 10px;
        }
      }
    }
  }

}
